<h1>EcosystemServices#show</h1>
<p>Find me in app/views/ecosystem_services/show.html.erb</p>
<p><a href="https://projects.invisionapp.com/share/NPNSQSI2QFM#/screens/317451457">invision</a></p>
<h1><%= @service.name %></h1>

