//--------------------------------------------------
// media queries 
//--------------------------------------------------
//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin breakpoint($breakpoint_px) {
  @media screen and (min-width: rem_calc($breakpoint_px + 1)) {
    @content;
  } 
}

@mixin breakpoint-down($breakpoint_px) {
  @media screen and (max-width: rem_calc($breakpoint_px)) {
    @content;
  } 
}

//--------------------------------------------------
// helper classes
//--------------------------------------------------
.breakpoint-small-up {
  display: none;
  @include breakpoint($small) { display: block; }
}

.breakpoint-medium-up {
  display: none;
  @include breakpoint($medium) { display: block; }
}

.breakpoint-small-down {
  display: block;
  @include breakpoint($small) { display: none; }
}

.breakpoint-medium-down {
  display: block;
  @include breakpoint($medium) { display: none; }
}