//--------------------------------------------------
// variables
//--------------------------------------------------
// - colours
// - fonts
// - dimensions
// - breakpoins
// - padding
// - style
// - form
// - topbar
//--------------------------------------------------
// colours
//--------------------------------------------------
$iucn: #D82007;

$white: #ffffff;

$grey-xlight: #EBEBEB;
$grey-light: #C0C0C0;
$grey: #424242;
$grey-dark: #373636;
$grey-xdark: #242424;

$black: #000000;

$blue: #4673CE;
$blue-map: #82B5E1;

$green: #7CA040;
$green-xdark: #1B1D0A;

$red-light: #f2dede;
$red: #f43f3f;

$primary: red;
$secondary: blue;

$marketing-green: #35b7a6;
$marketing-teal: #40a0be;
$marketing-blue: #5680d2;
$marketing-purple: #8380cf;
$marketing-pink: #b570c3;
$marketing-red: #dd6280;
$marketing-orange: #e46851;
$marketing-yellow: #efb856;

$accent: green;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$font-roboto: 'Roboto', sans-serif;
$fontello: 'fontello';

$body-font: $font-roboto;
$body-font-color: $black;

$body-line-height: 1.4;

$thin: 100;
$light: 300;
$bold: 500;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(1176);

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
$small: rem-calc(720);
$medium: rem-calc(960);
$large: $site-width;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(15);
$gutter-medium: rem-calc(24);
$gutter-large: rem-calc(24);

$page-padding-top-small: rem-calc(14);
$page-padding-top-medium: rem-calc(26);
$page-padding-top-large: rem-calc(30);

$page-padding-bottom-small: rem-calc(32);
$page-padding-bottom-medium: rem-calc(60);
$page-padding-bottom-large: rem-calc(100);

$section-padding-top-small: rem-calc(20);
$section-padding-top-medium: rem-calc(50);
$section-padding-top-large: rem-calc(50);

$section-padding-bottom-small: rem-calc(30);
$section-padding-bottom-medium: rem-calc(60);
$section-padding-bottom-large: rem-calc(60);

//--------------------------------------------------
// style
//--------------------------------------------------
$radius-global: rem-calc(3);
$radius-button: 0;

//--------------------------------------------------
// form
//--------------------------------------------------
$inputMarginTop: rem-calc(6);

//--------------------------------------------------
// topbar
//--------------------------------------------------
$topbarHeightSmall: rem-calc(47);
$topbarHeightMedium: rem-calc(60);
$topbarHeightLarge: rem-calc(93);

$topbarSecondaryHeightSmall: rem-calc(63);
$topbarSecondaryHeightMedium: rem-calc(80);
$topbarSecondaryHeightLarge: rem-calc(80);

$topbarSecondaryDataDownload: rem-calc(96);

$filtePaneTopMedium: $topbarHeightMedium;
$filtePaneTopLarge: $topbarHeightLarge;
