.nav{
  @extend .gutter--left;
  @extend .gutter--right;
  background-color: rgba($green-xdark, 0.5);
  color: $white;
  height: $topbarSecondaryHeightSmall;
  
  &__item-container {
    align-items: center;
  }
  
  &__item {
    margin-right: 24px;
    font-weight: $thin;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /*Chrome/Opera */
  }
  
  &__select {
    &:hover {
      color: $green-light;
    }
  }
  
  &__dropdown--inactive {
    .nav__dropdown-caret {
      transform: rotate(0deg);
    }
    .nav__dropdown-menu {
      display: none;
    }
  }
  
  &__dropdown--active {
    .nav__dropdown-toggle .nav__select {
      color: $green-light;
    }
  }
}

.nav__dropdown-caret {
  color: $white;
  transform: rotate(180deg);
}

//nav-bar
.nav{
  @include breakpoint($small_px) {
    height: $topbarSecondaryHeightMedium;
    @include breakpoint($medium_px) {
      height: $topbarSecondaryHeightLarge;
    }

    &__dropdown-body {
      width: 240px;
      padding: 28px 32px 10px 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, $topbarSecondaryHeightMedium / 2);
      @include breakpoint($medium_px) {
        transform: translate(-50%, $topbarSecondaryHeightLarge / 2);
      }
      box-shadow: 0 1px 2px 1px rgba($black, 0.5);
      background-color: $green-xdark;
    }

    &__dropdown--two-col {
      column-count: 2;
      padding: 36px 0px 36px 48px;
      width: 370px;
    }

    &__dropdown-point {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, $topbarSecondaryHeightSmall / 2) scale(1.25, 1)
        rotate(45deg);
      @include breakpoint($small_px) {
        transform: translate(-50%, $topbarSecondaryHeightMedium / 2)
          scale(1.25, 1) rotate(45deg);
      }
      @include breakpoint($medium_px) {
        transform: translate(-50%, $topbarSecondaryHeightLarge / 2)
          scale(1.25, 1) rotate(45deg);
      }
      background-color: $green-xdark;
    }

    &__dropdown-item {
      width: 140px;
      margin-bottom: 18px;
    }
  }
}

//burger-nav
$navPaneItemPadding: 0.625rem;

@include breakpoint_down($small_px) {
  .nav{
    justify-content: space-between;

    &__pane {
      margin-left: rem-calc(20);
      display: block;
      padding: rem-calc(80 0 18 0);
      width: rem-calc(320);
      @include breakpoint_down(rem-calc(320)) { width: 100% }
      background-color: $green-xdark;

      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 2000;
      transform: translateX(100%);
      &.nav__pane--active {
        transform: translateX(0);
      }

      transition: transform 0.4s ease-in-out;

    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      margin: rem-calc(14 14 0 0);
      color: white;
      font-size: rem-calc(28);
    }

    &__burger {
      color: white;
      font-size: rem-calc(22);
      margin-right: rem-calc(20);

      display: block;
    }

    &__item {
      padding: $navPaneItemPadding 2rem;
    }

    &__dropdown-item {
      padding: $navPaneItemPadding 2rem $navPaneItemPadding 1.5rem;
      &:first-child {
        padding-top: 2 * $navPaneItemPadding;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
