.navbar {
  @extend .gutter--left;
  @extend .gutter--right;
  background-color: $green-xdark;
  color: $white;
}

.navbar__item {
  margin-right: 24px;
  font-weight: $thin;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /*Chrome/Opera */
}

.navbar__select {
  &:hover {
    color: $green-light;
  }
}

.navbar__dropdown--inactive {
  .arrowhead {
    transform: rotate(0deg);
  }
  .navbar__dropdown-menu {
    display: none;
  }
}

.navbar__dropdown--active {
  .navbar__dropdown-toggle .navbar__select {
    color: $green-light;
  }
}

.arrowhead {
  color: $white;
  transform: rotate(180deg);
}

//navbar
@media screen and (min-width: $small + 1) {
  .navbar {
    height: $topbarSecondaryHeightSmall;
    @include breakpoint($small) {
      height: $topbarSecondaryHeightMedium;
    }
    @include breakpoint($medium) {
      height: $topbarSecondaryHeightLarge;
    }

    background-color: rgba($green-xdark, 0.5);
  }

  .navbar__item-container {
    align-items: center;
  }

  .navbar__dropdown-body {
    width: 240px;
    padding: 8px 24px 28px 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, $topbarSecondaryHeightSmall / 2);
    @include breakpoint($small) {
      transform: translate(-50%, $topbarSecondaryHeightMedium / 2);
    }
    @include breakpoint($medium) {
      transform: translate(-50%, $topbarSecondaryHeightLarge / 2);
    }
    box-shadow: 0 1px 2px 1px rgba($black, 0.5);
    background-color: $green-xdark;
  }

  .navbar__dropdown--two-col {
    column-count: 2;
    padding: 20px 0px 36px 48px;
    width: 370px;
  }

  .navbar__dropdown-point {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, $topbarSecondaryHeightSmall / 2) scale(1.25, 1)
      rotate(45deg);
    @include breakpoint($small) {
      transform: translate(-50%, $topbarSecondaryHeightMedium / 2)
        scale(1.25, 1) rotate(45deg);
    }
    @include breakpoint($medium) {
      transform: translate(-50%, $topbarSecondaryHeightLarge / 2) scale(1.25, 1)
        rotate(45deg);
    }
    background-color: $green-xdark;
  }

  .navbar__dropdown-item {
    width: 140px;
    padding-top: 18px;

    &:nth-child(odd) {
      margin-right: 40px;
    }
  }
}

//burger nav
@media screen and (max-width: $small) {
  .navbar {
    margin-right: rem-calc(20);
    display: block;
    padding: rem-calc(60 0 18 0);
    width: rem-calc(280);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;

    transition: transform 0.4s ease-in-out;
    //&--active { transform: translateX(0); }
  }

  .navbar__item-container {
    flex-direction: column;
  }

  .navbar__item {
    padding: 0.5rem 2rem;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__dropdown-item {
    padding: 0.5rem 2rem 0.5rem 1.5rem;
    &:first-child {
      padding-top: 1rem;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}