//TODO: style nesting
$navPaneItemPadding:  rem-calc(10);

.nav{
  @extend .gutters;
  background-color: rgba($green-xdark, 0.5);
  color: $white;
  justify-content: space-between;
  height: $topbarSecondaryHeightSmall;
  @include breakpoint($small) { height: $topbarSecondaryHeightMedium; }
  @include breakpoint($medium) { height: $topbarSecondaryHeightLarge; }

  &__burger {
    color: white;
    font-size: rem-calc(22);
    margin-right: rem-calc(20);

    display: block;
    @include breakpoint($small) { display: none; }
  }

  &__item-container {
    align-items: center;
  }

  &__pane {
    background-color: $green-xdark;
    margin-left: rem-calc(20);
    padding: rem-calc(80 0 18 0);
    width: 100%;
    @include breakpoint($small) { width: rem-calc(320); }
    
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    
    transform: translateX(100%);
    
    &.nav__pane--active {
      transform: translateX(0);
    }

    transition: transform 0.4s ease-in-out;
  }

    &__close {
      color: white;
      font-size: rem-calc(28);
      margin: rem-calc(14 14 0 0);
      
      position: absolute;
      top: 0;
      right: 0;
    }
  
    &__item {
      cursor: pointer;
      font-weight: $light;
      font-size: rem-calc(20);
      line-height: rem-calc(24);
      margin-right: rem-calc(24);
      padding: $navPaneItemPadding rem-calc(32);
      
      display: block;
      position: relative;
      
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /*Chrome/Opera */
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      
      @include breakpoint($small) { padding: 0; }
    }
  
    &__select {
      display: block;

      &:hover { color: $green-light; }
    }

    &__dropdown-caret {
      color: $white;
      
      transform: rotate(180deg);
    }
    
    &__dropdown--active {
      .nav__dropdown-toggle .nav__select {
        color: $green-light;
      }

        .nav__dropdown-caret {
          transform: none;
        }
        
      .nav__dropdown-menu {
        display: block;
      }
    }
    
    &__dropdown-menu {
      display: none;
    }

      &__dropdown-point {
        background-color: $green-xdark;
        width: rem-calc(24); height: rem-calc(24);
        
        display: none;
        position: absolute;
        top: 25%;
        left: 50%;

        @include breakpoint($small) {
          transform: translate(-50%, $topbarSecondaryHeightMedium / 2)
            scale(1.25, 1) rotate(45deg);
            display: block;
        }
        @include breakpoint($medium) {
          transform: translate(-50%, $topbarSecondaryHeightLarge / 2)
            scale(1.25, 1) rotate(45deg);
        }
      }

      &__dropdown-body {
        @include breakpoint($small) {
          background-color: $green-xdark;
          box-shadow: rem-calc(0 1 2 1) rgba($black, 0.5);
          padding: rem-calc(28 32 10 32);
          width: rem-calc(240);
          
          position: absolute;
          top: 50%;
          left: 50%;

          transform: translate(-50%, $topbarSecondaryHeightMedium / 2);

          &.nav__dropdown--two-col {
            column-count: 2;
            padding: rem-calc(36 0 36 48);
            width: rem-calc(370);
          }
        }

        @include breakpoint($medium) {
          transform: translate(-50%, $topbarSecondaryHeightLarge / 2);
        }
      }

        &__dropdown-item {
          @include breakpoint_down($small) {
            padding: $navPaneItemPadding  rem-calc(32) $navPaneItemPadding rem-calc(24);
            
            &:first-child {
              padding-top: 2 * $navPaneItemPadding;
            }
            
            &:last-child {
              padding-bottom: 0;
            }
          }

          @include breakpoint($small) {
            margin-bottom: rem-calc(18);
            width: rem-calc(140);
          }
        }
}
