<h1>Assets#index</h1>
<p>Find me in app/views/assets/index.html.erb</p>
<p><a href="https://projects.invisionapp.com/share/NPNSQSI2QFM#/screens/318726068">invision</a></p>
<% @assets.each do |asset| %>
  <p><%= link_to asset.name, asset_path(asset.id) %></p>
<% end %>
