//--------------------------------------------------
// brand elements
//--------------------------------------------------
//--------------------------------------------------
// logos
//--------------------------------------------------
.site-logo {
  width: auto; height: rem-calc(28);

  @include breakpoint($small_px) { height: rem-calc(34); }

  &--large {
    width: auto; height: rem-calc(32);

    @include breakpoint($small_px) { height: rem-calc(48); }
  }

}