//--------------------------------------------------
// button - variables
//--------------------------------------------------
$font-size-small: rem-calc(18);
$font-size-medium: rem-calc(20);

//--------------------------------------------------
// button wrapper
//--------------------------------------------------
.button-wrapper {
  margin: rem-calc(20 0);
  text-align: center;

  &--map-popup {
    margin-bottom: 0;
    margin-top: rem-calc(15);
  }
}

//--------------------------------------------------
// button - resuable styles
//--------------------------------------------------
%button {
  background-color: transparent;
  border: none;
  border-radius: $radius-button;
  color: $body-font-color;
  cursor: pointer;
  font-size: rem-calc(18);
  line-height: 1;
  padding: rem-calc(14 28);
  text-align: center;
  text-decoration: none;

  display: inline-block;

  &--circle {
    border-radius: rem-calc(100);
  }

  &--no-styles {
    border: none;
    margin: 0;
    padding: 0;
  }
}

//--------------------------------------------------
// button - sizes
//--------------------------------------------------
.button {
  &--small {
    font-size: rem-calc(14);
    padding: rem-calc(6 20);
  }

  &--medium {
    font-size: rem-calc(17);
    padding: rem-calc(7 22);
  }

//--------------------------------------------------
// button - classes
//--------------------------------------------------

  &--back {
    @extend %button;
    font-size: rem-calc(16);
    font-weight: $bold;
    padding: 0;

    display: inline-flex;

    @include breakpoint($small) { font-size: $font-size-small; }

    &:hover span { text-decoration: underline; }

    &__icon {
      font-size: rem-calc(16);

      @include breakpoint($small) { font-size: rem-calc(18); }
    }
  }

  &--cta {
    @extend %button;
    background-color: $blue;
    color: $white;
    font-size: $font-size-small;
    font-weight: $light;
    padding: rem-calc(11 24);

    @include breakpoint($small) {
      font-size: $font-size-medium;
      padding: rem-calc(14 35);
    }

    &:hover {
      background-color: $grey-xdark;
    }
  }

  &--disabled {
    background-color: $grey-light;
    cursor: not-allowed;

    &:hover { background-color: $grey-light; }
  }

  &--cta-grey {
    @extend %button;
    border: solid rem-calc(1) $grey-xdark;
    font-size: rem-calc(18);

    &:hover {
      background-color: $grey-xdark;
      color: white;
    }
  }

  &--fake {
    padding: rem-calc(0 14);
    border: solid 1px $grey;
  }

  &--outline {
    @extend %button;
    border: solid 1px $grey;

    &:hover {
      background-color: $grey;
      color: $white;
    }
  }

  &--outline-white {
    @extend %button;
    border: solid 1px $white;
    color: $white;
    font-size: rem-calc(17);
    font-weight: $light;

    &:hover {
      background-color: $white;
      color: $grey;
    }
  }

  &--underline {
    @extend %button;
    @extend %button--no-styles;
    font-size: $font-size-small;
    font-weight: $bold;
    padding: rem-calc(0 14);
    text-decoration: underline;

    @include breakpoint($small) { font-size: $font-size-medium; }

    &:hover { text-decoration: none; }
  }

  &--topbar {
    color: $white;
    font-weight: $light;
    font-size: rem-calc(14);
    text-decoration: underline;
    padding: rem-calc(0 14);

    @include breakpoint($small) {
      font-size: rem-calc(18);
      padding: rem-calc(0 38);
    }

    &:hover { text-decoration: none; }
  }

  &--map-control {
    @extend %button;
    background-color: white;
    border-bottom: 1px solid $grey;
    border-radius: 0;
    cursor: pointer;
    font-size: rem-calc(13);
    width: 100%;

    display: block;

    &:hover { background: $grey-xlight; }

    &:first-child { border-radius: $radius-global $radius-global 0 0; }
    &:last-child { border-radius: 0 0 $radius-global $radius-global; }

    &.button--active {
      background-color: $grey-xlight;

      &:hover { background: white; }
    }
  }

  &--close {
    @extend %button;
    @extend %button--circle;
    background-color: $grey;
    font-size: rem-calc(20);
    color: $white;
    padding: rem-calc(16 14);

    &:hover { background-color: $grey-light; }
  }

  &--plain {
    @extend %button--no-styles;
    background-color: transparent;
    cursor: pointer;
  }

  &--pagination {
    @extend %button;
    @extend .flex-inline;
    @extend .flex-h-center;
    @extend .flex-v-center;
    border: solid 1px $grey-xdark;
    border-radius: 0;
    padding: 0;
    width: rem-calc(42); height: rem-calc(42);
  }

  &--search {
    width: 100%; height: auto;

    position: relative;

    input[type='text'] {
      padding-right: rem-calc(49);
      width: 100%;
    }

    &__button {
      @extend .button--plain;
      font-size: rem-calc(24);
      padding: rem-calc(0 8);

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      .material-icons {
        font-size: rem-calc(38);
      }
    }
  }

  &--search-white {
    @extend .button--search;

    input[type='text'] {
      background-color: transparent;
      border: solid 1px $white;
      color: $white;
    }

    .icon-search,
    .icon-close { color: $white; }
  }

//--------------------------------------------------
// button - margin
//--------------------------------------------------
  &-margin-bottom {
    margin-bottom: rem-calc(14);

    @include breakpoint($small) { margin-bottom: rem-calc(30); }
  }

  &-margin-top {
    margin-top: rem-calc(14);

    @include breakpoint($small) { margin-top: rem-calc(30); }
  }

  &-margin-left { margin-left: rem-calc(14); }
}
