//--------------------------------------------------
// topbar - reusable styles
//--------------------------------------------------
%topbar {
}


.topbar {
//--------------------------------------------------
// primary topbar
//--------------------------------------------------
 &--primary {
    @extend .gutter--left;
    background-color: $green-xdark;
    height: $topbarHeightSmall;

    .topbar {
      &__logo {
        @extend .site-logo;
      }
    }
  }

//--------------------------------------------------
// secondary topbar
//--------------------------------------------------
  &--secondary {
    @extend .gutters;
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);

    @include breakpoint($small) {
      padding-top: rem-calc(13);
      padding-bottom: rem-calc(13);      
    }

    &-grey {
      background-color: $grey-xlight;
      border-bottom: solid 1px $grey-light;
    }

    &-map {
      height: $topbarSecondaryHeightSmall;

      @include breakpoint($small) { height: $topbarSecondaryHeightMedium; }
    }

    &-data-download { height: $topbarSecondaryDataDownload; }
  }
}